{% extends "base.html" %}

{% block bodyblock %}
        
    <div class="container">
        <br><br>
        <h3 class="display-8">Face Recognition Application</h3>
        <br>
        <p>
            Gender Classification: This app is driven by data and Machine Learning Model, As soon as user upload its image, Machine Learning 
            Model will recognize its gender and will return gray scale image and eigen face image.
        </p>

        <img src="static/images/app.png" alt="" class="image-fluid" width="600">

        <a href="/app/gender" class="btn btn-outline-primary"> Gender App</a>
    </div>

{% endblock bodyblock %}